/target/
**/target/
/core/abi/value-provider-filesystem-ffi/Cargo.lock
/core/abi/value-store-provider-ffi/Cargo.lock
/.hoplite/
**/.hoplite/
.DS_Store
node_modules/
dist/
.astro/

# Local Netlify folder
.netlify
