{:hara/type :project
 :hara/version "1.0.0"
 :project/id "gh:greenways-ai/hoplite"
 :project/version "0.1.0"
 :project/source-paths ["lib/src"]
 :project/test-paths ["lib/test"]
 :project/extension-paths []
 :project/capabilities #{:host/random :host/hash :host/signature :host/clock :host/secret}
 :project/dependencies {}
 :hoplite/exports
 {:hoplite/value-contract {:export/namespace hoplite.value}
  :hoplite/response-source-contract {:export/namespace hoplite.response-source}
  :hoplite/gateway {:export/namespace hoplite.core}
  :hoplite/module-runtime {:export/namespace hoplite.core}}}
