{:hara/type :project
 :hara/version "1.0.0"
 :project/id "gh:greenways-ai/hoplite"
 :project/version "0.2.0"
 :project/source-paths ["lib/src"]
 :project/test-paths ["lib/test"]
 :project/extension-paths []
 :project/capabilities #{:host/random :host/hash :host/signature :host/clock :host/secret}
 :project/dependencies {}
 :hoplite/exports
 {:hoplite/core {:export/namespace hoplite.core}
  :hoplite/nchan {:export/namespace hoplite.nchan}
  :hoplite/rtc {:export/namespace hoplite.rtc}
  :hoplite/host {:export/namespace hoplite.host}
  :hoplite/raw {:export/namespace hoplite.raw}
  :hoplite/response-source {:export/namespace hoplite.response-source}
  :hoplite/dev {:export/namespace hoplite.dev}
  :hoplite/gateway {:export/namespace hoplite.core}
  :hoplite/module-runtime {:export/namespace hoplite.core}}}
